.justify-content-md-center {
    justify-content: center!important;
}
.account-box-shadow {
    background: #fff;
    box-shadow: 0 0 10px rgba(204,204,204,0.3);
}
.account-box-shadow .account-banner {

  background-color: #f4f5f6 ;

}
.banner_login img{
width: 100%;
position: absolute;
left: 0;
}
.conten_account{
    padding: 360px 5px 30px;
}
.account-box-shadow .account-banner .account_policy_title {
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    color: #303846;
    position: relative;
}
.account-box-shadow .account-banner .account_policy_content p {
    margin-bottom: 7px;
    margin-top: 0 !important;
    position: relative;
    padding-left: 22px;
    font-size: 13px;
    line-height: 1.3;
}
.account-box-shadow .evo-account-content .auth-block__menu-list li a:hover, .account-box-shadow .evo-account-content .auth-block__menu-list li a:focus {
    color: #1ba0e2;
}
/*Box trái*/
.account-box-shadow .evo-account-content {
    padding-left: 0;
}
.account-box-shadow .evo-account-content .auth-block__menu-list {
    list-style: none;
    display: flex;
    height: 50px;
    border-bottom: 1px solid #eee;
}
.account-box-shadow .evo-account-content .auth-block__menu-list li {
    flex: 1 1;
    text-align: center;
    border-right: 1px solid #eee;
    position: relative;
}

.account-box-shadow .evo-account-content .auth-block__menu-list li.active a {
    font-weight: 700;
    color: #fff !important;
    background-color: #7158e2;
}
.account-box-shadow .evo-account-content .auth-block__menu-list li+li {
    border-right: none;
}
.account-box-shadow .evo-account-content .auth-block__menu-list li {
    flex: 1 1;
    text-align: center;
    position: relative;
}
.account-box-shadow .evo-account-content .auth-block__menu-list li a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 22px;
    color: #303846;
}
.account-box-shadow .evo-account-content .auth-block__menu-list li a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 22px;
}
.account-box-shadow .evo-account-content #customer_login, .account-box-shadow .evo-account-content #customer_register, .account-box-shadow .evo-account-content #recover_customer_password {
    padding: 20px;
    margin-bottom: 0;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.form-group {
    margin: 0;
    padding: 0 0 8px;
    border: 0;
}
fieldset {
    border-radius: 0;
    max-width: 100%;
    min-width: 0;
}
.page-login .form-group label {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
    align-items: center;
}
label, legend {
    display: block;
}
.required {
    font-size: 13px;
    color: red;
}
.page-login input[type="text"], .page-login input[type="email"], .page-login input[type="number"], .page-login input[type="tel"], .page-login input[type="password"], .page-login select.form-control {
    background: #fff;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #e1e1e1;
    outline: none;
    box-shadow: none;
    border-radius: 4px;
}
.form-group .form-control {
    display: block;
    width: 100%;
    min-height: 40px;
   
    font-size: 1em;
    line-height: 1.5;
    color: #55595c;
    
    margin: 0;
}
.margin-bottom-0 {
    margin-bottom: 0px !important;
}
button{
    font-family: "Roboto",sans-serif;
}
.page-login #login p.recover, .page-login #customer-reset-password p.recover, .page-login #recover-password p.recover {
    margin-top: 0;
}
.page-login #login p.recover .btn-link-style, .page-login #customer-reset-password p.recover .btn-link-style, .page-login #recover-password p.recover .btn-link-style {
    margin-top: 0;
    color: #1ba0e2;
    font-size: 13px;
    font-weight: normal;
    
}
.page-login #login .btn-blues {
    padding-top: 10;
    padding-bottom: 0;
    height: 40px;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: 13px;
    width: 100%;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    padding: 12 px 28px;
    
    border: 1px solid #1ba0e2;
    text-transform: uppercase;
   
    text-align: center;
 
    font-style: normal;
    background-color: #1ba0e2;
    color: #fff;
}
.page-login #login .btn-blues:hover {
 background-color:#fff;
 color: #1ba0e2;
}
.btn{
    white-space: nowrap;
    outline: none !important;
    transition: background-color 0.1s ease-in;
    font-family: "Roboto",sans-serif;
}
.login--notes {
    text-align: center;
    color: #999;
    font-size: 11.5px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.1;
}
.line-break {
    max-width: 100%;
    margin: 0px auto 20px;
    text-align: center;
    position: relative;
}
.line-break:before {
    content: "";
    width: 100%;
    height: 2px;
    background: #eee;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 10px;
}
.line-break span {
    display: inline-block;
    font-size: 13px;
    color: #999;
    padding: 1px 10px;
    border-radius: 15px;
    border: 1px solid #eee;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.account-box-shadow .evo-account-content .social-login {
    padding-bottom: 20px;
}
.social-login a {
    display: inline-block;
    min-width: 140px;
}
#recover-password .fix-sblock {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 0;
    line-height: 1.3;
}
.fix-sblock {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}
.account-box-shadow .evo-account-content #recover_customer_password {
    padding: 20px;
    margin-bottom: 0;
}
.page-login #recover-password p {
    margin-top: 10px;
}
.page-login .text-login p {
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.page-login .btn-link-style.btn-register {
    display: inline-block;
}
.page-login .text-login p a {
    color: #1ba0e2;
}
.page-login .btn-link-style {
    margin-top: 15px;
    font-weight: 500;
}
